@reference 'tailwindcss';

:host {
  display: inline-flex;
  align-items: center;
  gap: --spacing(1);
  font-size: var(--ngs-font-size-sm);
  font-weight: 600;
  cursor: pointer;
  --ngs-icon-size: --spacing(4.5);

  &:hover {
    color: var(--ngs-color-primary);
  }
}
