@reference 'tailwindcss';

:host {
  display: flex;
  flex-wrap: wrap;
  min-height: var(--ngs-control-height-lg);
  align-items: center;
  box-sizing: content-box;
  gap: --spacing(2);
  padding: var(--ngs-dialog-actions-padding, --spacing(4) --spacing(6));
  flex: none;

  &.ngs-dialog-actions-align-center {
    justify-content: center;
  }

  &.ngs-dialog-actions-align-end {
    justify-content: flex-end;
  }
}
