@reference 'tailwindcss';

:host {
  display: block;

  .notification-preview,
  .notification-task {
    color: var(--ngs-color-on-surface-variant);
    font-size: var(--ngs-font-size-sm);
  }

  .notification-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: --spacing(3);
  }

  .notification-icon-avatar--success {
    --ngs-avatar-bg: var(--ngs-color-success-container);
    --ngs-avatar-color: var(--ngs-color-success);
    --ngs-icon-color: var(--ngs-color-success);
  }

  .notification-icon-avatar--warning {
    --ngs-avatar-bg: var(--ngs-color-warning-container);
    --ngs-avatar-color: var(--ngs-color-warning);
    --ngs-icon-color: var(--ngs-color-warning);
  }

  .notification-icon-avatar--info {
    --ngs-avatar-bg: var(--ngs-color-info-container);
    --ngs-avatar-color: var(--ngs-color-info);
    --ngs-icon-color: var(--ngs-color-info);
  }
}
