<blockquote #contentRef
            #contentEditableRef="ngsContentEditorContentEditable"
            class="content"
            [ngsContentEditorContentEditable]="citeOriginalContent()"
            [props]="citeOriginalProps()"
            (propsChanged)="onCitePropsChanged($event)"
            [attr.data-empty-placeholder]="placeholder()"
            (contentChanged)="onCiteContentChanged($event)"
            (pressedEnter)="onPressedEnter($event)"
            (initialized)="onContentEditableInitialized()"></blockquote>
<div class="caption"
     #captionRef
     #captionEditableRef="ngsContentEditorContentEditable"
     [ngsContentEditorContentEditable]="captionOriginalContent()"
     [props]="captionOriginalProps()"
     (propsChanged)="onCaptionPropsChanged($event)"
     [attr.data-empty-placeholder]="placeholder()"
     (contentChanged)="onCaptionContentChanged($event)"
     (pressedEnter)="onPressedEnter($event)"></div>
