<ngs-select
  #ngsSelect
  [value]="value"
  (selectionChange)="onSelectionChange($event)"
  (opened)="onSelectOpened()"
  (closed)="onSelectClosed()"
  [id]="id + '-select'"
  [placeholder]="placeholder"
  [required]="isRequiredSignal()"
  [disabled]="isDisabledSignal()"
  [multiple]="multiple()"
  [hideCheckIcon]="hideCheckIcon()"
  [clearable]="clearable()"
  [aria-label]="ariaLabel()"
  [tabIndex]="tabIndex()"
  [aria-describedby]="ariaDescribedby()">
  <ngs-select-trigger class="select-trigger">
    @let selectedCountries = selectedCountryDisplays();
    @if (selectedCountries.length === 1) {
      @let selectedCountry = selectedCountries[0];
      <span class="ngs-select-trigger-content">
        <span class="flag-icon" aria-hidden="true">{{ selectedCountry.flag }}</span>
        <span class="ngs-select-trigger-text">
          {{ selectedCountry.name }}
          @if (showCountryCode()) {
            <span class="code">({{ selectedCountry.code }})</span>
          }
        </span>
      </span>
    } @else if (selectedCountries.length > 1) {
      <span class="ngs-select-trigger-content">
        <span class="ngs-select-trigger-text">
          {{ selectedCountriesText() }}
        </span>
      </span>
    }

  </ngs-select-trigger>

  <ngs-select-header>
    <div class="sticky top-0 z-1 bg-surface-container-lowest">
      <input #searchInput
             type="text"
             placeholder="Search..."
             autocomplete="off"
             [ngModel]="searchTerm()"
             (ngModelChange)="onCountrySearch($event)"
             class="w-full text-sm focus:outline-none border-b border-surface-container-high focus:border-b-primary h-14 px-3">
      @if (searchTerm().trim()) {
        <div class="absolute end-1 top-1/2 -translate-y-1/2">
          <button
            ngsIconButton
            (click)="clearSearch($event)"
            class="clear-button"
            type="button"
            aria-label="Clear search">
            <ngs-icon name="fluent:dismiss-24-regular"/>
          </button>
        </div>
      }
    </div>
  </ngs-select-header>

  @for (country of visibleCountries(); track country.code) {
    <ngs-option [value]="country.code">
      <div class="flex items-center gap-2">
        <span class="select-option-icon text-2xl" aria-hidden="true">{{ country.flag }}</span>
        <span class="select-option-text">
        {{ country.name }}
          @if (showCountryCode()) {
            <span class="code">({{ country.code }})</span>
          }
      </span>
      </div>
    </ngs-option>
  } @empty {
    @if (searchTerm()) {
      <div class="text-sm px-4 py-3">
        <span i18n>Country not found</span>.
      </div>
    }
  }

  @if (visibleCountryCount() < filteredCountries().length) {
    <div class="select-loading">
      Loading more countries...
    </div>
  }
</ngs-select>
