@if (rows().length > 0) {
  <div class="table-overflow">
    <table ngs-native-table>
      <colgroup>
        @for (cell of firstRow(); track $index) {
          <col [attr.width]="width(cell)">
        }
      </colgroup>
      <tbody>
        @for (row of rows(); track $index; let rowIndex = $index) {
          <tr>
            @for (cell of row; track $index) {
              @if (rowIndex === 0 && header()) {
                <th
                  [attr.colspan]="colSpan(cell)"
                  [attr.rowspan]="rowSpan(cell)"
                  [ngsHeadlessEditorRuns]="cell.content || []"
                ></th>
              } @else {
                <td
                  [attr.colspan]="colSpan(cell)"
                  [attr.rowspan]="rowSpan(cell)"
                  [ngsHeadlessEditorRuns]="cell.content || []"
                ></td>
              }
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
}
