@reference 'tailwindcss';

:host {
  --ngs-card-bg: var(--ngs-color-surface-container);
  --ngs-card-color: var(--ngs-color-on-surface);
  --ngs-card-radius: var(--ngs-radius-xl);
  --ngs-card-border-color: var(--ngs-color-subtle);
  --ngs-card-shadow: none;
  --ngs-card-padding: --spacing(4);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  border-radius: var(--ngs-card-radius);
  background: var(--ngs-card-bg);
  color: var(--ngs-card-color);
  box-shadow: var(--ngs-card-shadow);
  border-width: 0;
  border-style: solid;
  border-color: var(--ngs-card-border-color);
}

:host(.ngs-card-outlined) {
  --ngs-card-shadow: none;
  --ngs-card-bg: transparent;
  border-width: 1px;
}

:host(.ngs-card-raised) {
  --ngs-card-shadow: var(--ngs-shadow-sm);
  --ngs-card-bg: var(--ngs-color-surface-container);
}

