<form class="w-[500px]" (ngSubmit)="onSubmit()">
  <h3 ngs-dialog-title>
    @if (isUpdate) {
      Update Youtube
    } @else {
      Add Youtube
    }
  </h3>
  <ngs-dialog-content>
    <div class="pt-4">
      <ngs-form-field class="w-full">
        <ngs-label>Paste Url</ngs-label>
        <input name="linkUrl" ngsInput [(ngModel)]="linkUrl">
      </ngs-form-field>
    </div>
  </ngs-dialog-content>
  <div ngs-dialog-actions align="end">
    <button ngsButton (click)="_onNoClick()">Cancel</button>
    <button type="submit" ngsButton="filled" color="primary"
            cdkFocusInitial [disabled]="!linkUrl.trim() || null">
      @if (isUpdate) {
        Save
      } @else {
        Add url
      }
    </button>
  </div>
</form>
