{
    email {$EMAIL}
}

{$DOMAIN} {
    # Main application
    root * /srv/main
    file_server browse

    # Docs as a subfolder
    handle_path /docs/* {
        root * /srv/docs
        file_server browse
        try_files {path} {path}/ /index.html
    }

    # SPA routing for the main application
    handle {
        try_files {path} {path}/ /index.html
    }
}

admin.{$DOMAIN} {
    root * /srv/admin
    file_server browse
    try_files {path} {path}/ /index.html
}
