@reference 'tailwindcss';

:host {
  display: flex;
  width: 100%;
  align-items: center;
  gap: --spacing(4);
  flex-wrap: nowrap;

  .text {
    white-space: nowrap;
  }

  .line-start {
    position: relative;
    flex-grow: 1;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      background: var(--ngs-color-border);
      top: 50%;
      width: 100%;
    }
  }

  .line-end {
    position: relative;
    flex-grow: 1;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      background: var(--ngs-color-border);
      top: 50%;
      width: 100%;
    }
  }
}
