@reference 'tailwindcss';
@reference '../../../styles/_common.scss';

:host {
  --ngs-sidebar-header-compact-padding: --spacing(4) 0;

  flex: none;
  width: 100%;
  display: flex;
  align-items: center;

  ::ng-deep {
    .ngs-sidebar-compact-view-mode {
      display: none;
    }
  }

  &.as-block {
    display: block;
  }
}

:host-context(.ngs-sidebar.compact:not(:hover)),
:host-context(.ngs-sidenav.is-collapsed:not(:hover)) {
  padding: var(--ngs-sidebar-header-compact-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  ::ng-deep {
    .ngs-sidebar-full-view-mode {
      display: none;
    }

    .ngs-sidebar-compact-view-mode {
      display: block;
    }
  }
}

:host-context(.ngs-sidebar.compact:hover),
:host-context(.ngs-sidenav.is-collapsed:hover) {
  ::ng-deep {
    .ngs-sidebar-compact-view-mode {
      display: none;
    }

    .ngs-sidebar-full-view-mode {
      display: block;
    }
  }
}

:host-context(.ngs-sidebar.only-compact) {
  padding: var(--ngs-sidebar-header-compact-padding);
  display: flex;
  align-items: center;
  justify-content: center;

  ::ng-deep {
    .ngs-sidebar-full-view-mode {
      display: none;
    }

    .ngs-sidebar-compact-view-mode {
      display: block;
    }
  }
}
