@reference 'tailwindcss';

:host {
  display: block;
  box-shadow: var(--ngs-shadow-sm);
  background: var(--ngs-color-neutral-950);
  color: var(--ngs-color-neutral-200);
  min-height: --spacing(12);
  border-radius: var(--ngs-radius-xl);
  top: 1px;
  padding-inline-start: --spacing(2);
  padding-inline-end: --spacing(2);

  .button,
  ::ng-deep .button {
    width: --spacing(10);
    height: --spacing(10);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(infinity * 1px);

    --icon-size: var(--ngs-font-size-xl);

    &:hover {
      color: var(--ngs-color-tertiary-300);
      background: var(--ngs-color-neutral-700);
      border-radius: calc(infinity * 1px);
      padding: --spacing(1.5);
    }

    &.active {
      color: var(--ngs-color-tertiary-300);
      background: var(--ngs-color-neutral-700);
    }

    ngs-icon {
      width: --spacing(6);
      height: --spacing(6);
      font-size: var(--ngs-font-size-xl);
      line-height: 1.25;
    }

    &:disabled {
      pointer-events: none;
      opacity: 70%;
    }
  }

  .link {
    color: var(--ngs-color-tertiary-300);
    position: relative;
    top: 1px;

    &:hover {
      color: var(--ngs-color-tertiary-100);
    }
  }
}

:host-context(html.dark) {
  background: var(--ngs-color-tertiary-200);
  color: var(--ngs-color-neutral-900);

  .link {
    color: var(--ngs-color-tertiary-700);

    &:hover {
      color: var(--ngs-color-tertiary-800);
    }
  }
}
