@reference 'tailwindcss';

:host {
  --ngs-action-required-bg: linear-gradient(135deg, var(--ngs-color-danger-container), var(--ngs-color-danger-container-highest));
  --ngs-action-action-text-bg: var(--ngs-color-surface);
  --ngs-action-text-color: var(--ngs-color-on-danger-container);

  display: flex;
  width: 100%;
  border-radius: var(--ngs-radius-xl);
  padding: --spacing(6);
  gap: --spacing(8);
  align-items: center;
  background: var(--ngs-action-required-bg);
  color: var(--ngs-action-text-color);

  .action-text {
    display: flex;
    border-radius: var(--ngs-radius-xl);
    background: var(--ngs-action-action-text-bg);
    padding: --spacing(2.5) --spacing(3) --spacing(2.5) --spacing(2.5);
    align-items: center;
    flex: none;
    font-size: var(--text-md);
    gap: --spacing(1.5);
  }

  .description {
    flex-grow: 1;
  }

  .button {
    flex: none;
  }
}

