@reference 'tailwindcss';

:host {
  display: block;
  padding: 4px 10px;
  position: relative;
  transition: border-color 0.15s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: var(--ngs-form-field-outlined-outline-width, 1px) solid transparent;
  outline: none;
  border-radius: var(--ngs-field-radius);
  cursor: text;
  margin-left: -10px;
  margin-right: -10px;
  word-wrap: break-word;

  &:hover {
    border-color: var(--ngs-form-field-outlined-outline-color, var(--ngs-color-outline));
  }

  &.editing {
    color: var(--ngs-form-field-outlined-input-text-color, var(--ngs-color-on-surface));
    caret-color: var(--ngs-form-field-outlined-caret-color, var(--ngs-color-primary));
  }

  &.focused {
    border-color: var(--ngs-color-primary);
    outline: 1px solid var(--ngs-color-primary);
  }

  &:empty {
    &:before {
      position: absolute;
      content: attr(data-placeholder);
      inset: 0;
      z-index: 0;
      color: var(--ngs-color-neutral-500);
      font-size: inherit;
      padding: inherit;
      word-wrap: break-word;
    }
  }
}
