@reference 'tailwindcss';

:host {
  .ngs-timepicker-panel {
    background: var(--ngs-dropdown-bg);
    box-shadow: var(--ngs-dropdown-shadow);
    border-radius: var(--ngs-dropdown-radius);
    outline: var(--ngs-dropdown-border);
    width: 100%;
    min-width: 120px;
    max-height: 256px;
    position: relative;
    transform-origin: top;
    animation: ngs-timepicker-panel-showing 150ms cubic-bezier(0, 0, 0.2, 1);
    overflow: hidden;

    .ngs-timepicker-content {
      padding: var(--ngs-timepicker-content-padding, var(--ngs-dropdown-padding, --spacing(2)));
    }
  }

  @keyframes ngs-timepicker-panel-showing {
    from {
      opacity: 0;
      transform: scaleY(0.8);
    }

    to {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
