@reference 'tailwindcss';

:host {
  display: block;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  .scroll-content {
    padding: 0;
  }
}

:host-context(.ngs-sidebar.compact),
:host-context(.ngs-sidenav.is-collapsed:not(:hover)) {
  overflow-y: hidden;
  padding: 0;
}

:host-context(.ngs-sidebar.compact:hover),
:host-context(.ngs-sidenav.is-collapsed:hover) {
  overflow-y: auto;
}

:host-context(.ngs-sidebar.only-compact) {
  overflow-y: hidden;
  padding: 0;
}
