@reference 'tailwindcss';

:host {
  --ngs-panel-header-height: --spacing(14);

  flex: none;
  grid-area: header;
  width: 100%;
  display: flex;
  align-items: center;

  &:not([class*="h-"]):not(.is-auto-height) {
    height: var(--ngs-panel-header-height);
  }

  &.as-block {
    display: block;
  }
}
