@if (control() && config()) {
  <ngs-form-field>
    <ngs-label>{{ config().label }}</ngs-label>
    <ngs-chip-grid #chipGrid>
      @for (option of value; track option) {
        <ngs-chip-row (removed)="remove(option)">
          {{ option[bindName] }}
          <button ngsChipRemove>
            <ngs-icon name="fluent:dismiss-circle-24-regular"/>
          </button>
        </ngs-chip-row>
      }
      <input [placeholder]="config().placeholder"
             #input
             maxlength="30"
             [formControl]="chipsCtrl"
             [ngsChipInputFor]="chipGrid"
             [ngsAutocomplete]="autocomplete"
             [ngsChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (chipInputTokenEnd)="add($event)">
    </ngs-chip-grid>
    @if (isLoading) {
      <div class="loader">
        <ngs-progress-spinner
          mode="indeterminate"
          [diameter]="20"/>
      </div>
    }
    <ngs-autocomplete #autocomplete="ngsAutocomplete" (optionSelected)="onSelected($event)">
      @for (option of filteredOptions$ | async; track option) {
        <ngs-option [value]="option">{{ option[bindName] }}</ngs-option>
      }

      @if (!(filteredOptions$ | async)?.length && !isLoading && chipsCtrl.value) {
        <ngs-option disabled>
          No search results found.
        </ngs-option>
      }
    </ngs-autocomplete>
    <ngs-hint>{{ config().hint }}</ngs-hint>
    @if (control().invalid && control().touched) {
      <ngs-error>{{ getErrorMessage() }}</ngs-error>
    }
  </ngs-form-field>
}
