@reference 'tailwindcss';

:host {
  background: var(--ngs-color-surface-container);
  border-radius: --spacing(3);
  padding: --spacing(1);
  box-shadow: var(--ngs-shadow-lg);

  button {
    &.is-active {
      background: var(--ngs-color-surface-container-highest);
      color: var(--ngs-color-primary);
    }
  }
}
