@reference 'tailwindcss';

:host {
  --ngs-toolbar-gap: --spacing(4);

  display: flex;
  align-items: center;
  gap: var(--ngs-toolbar-gap);
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;

  &:has(> ngs-toolbar-row) {
    flex-direction: column;
  }

  & > ngs-toolbar-item {
    flex-shrink: 0;
  }
}

.ngs-toolbar-overflow-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ngs-toolbar-overflow-dialog-header {
  display: flex;
  justify-content: flex-end;
  padding: --spacing(2);
}

.ngs-toolbar-overflow-dialog-content {
  display: flex;
  flex-direction: column;
  padding: --spacing(4);
  gap: --spacing(2);
  flex: 1;
  overflow-y: auto;
}

.ngs-toolbar-overflow-item {
  display: flex;
  align-items: center;
  width: 100%;
}
