@if (isToolbarVisible()) {
  <div class="toolbar">
    <ng-content select="ngs-comment-editor-toolbar"/>
  </div>
}

<div
  class="content"
  ngsHeadlessEditorSurface
  [placeholder]="placeholder()"
  [ariaLabel]="ariaLabel()"
  [disabled]="disabled()">
</div>

<div class="editor-content">
  <ng-content/>
</div>

<div class="footer">
  <div class="footer-tools">
    <ng-content select="ngs-comment-editor-footer-bar"/>
  </div>
  <div class="footer-actions">
    @if (isCancelVisible()) {
      <button
        type="button"
        ngsButton
        [disabled]="disabled() || loading()"
        (click)="cancel($event)">
        {{ buttonCancelLabel() }}
      </button>
    }
    <button
      type="button"
      ngsButton="filled"
      [disabled]="sendDisabled()"
      [loading]="loading()"
      (click)="send($event)">
      {{ sendLabel() }}
    </button>
  </div>
</div>

@if (isBubbleMenuVisible()) {
  <div #bubbleMenuLayer class="bubble-menu-layer">
    <ng-content select="ngs-comment-editor-bubble-menu"/>
  </div>
}
