@reference 'tailwindcss';

:host {
  display: flex;
  align-items: center;
  flex: none;
  min-height: var(--ngs-menu-item-height, var(--option-height));
  padding: var(--ngs-menu-item-padding, 0 --spacing(3));
  border-radius: var(--ngs-menu-item-radius, var(--ngs-control-radius));
  font-size: var(--ngs-menu-item-font-size, var(--ngs-font-size-sm));
  font-weight: var(--ngs-menu-item-font-weight, inherit);
  color: var(--ngs-menu-item-color, var(--ngs-color-on-surface));
  cursor: pointer;
  user-select: none;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  transition: background 100ms ease-in-out;
  outline: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: var(--ngs-menu-item-gap, --spacing(2.5));

  &:hover:not([disabled]),
  &.ngs-menu-item-highlighted:not([disabled]) {
    background: var(--ngs-menu-item-hover-background, var(--ngs-color-surface-container-high));
  }

  &.ngs-menu-item-active:not([disabled]) {
    background: var(--ngs-menu-item-active-background, var(--ngs-color-surface-container-highest));
  }

  &[disabled] {
    color: var(--ngs-menu-item-disabled-color, var(--ngs-color-on-surface-variant));
    cursor: default;
    pointer-events: none;
  }

  .icon {
    line-height: 0;
    opacity: .75;

    &:empty {
      display: none;
    }
  }

  .ngs-menu-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: --spacing(2);
    flex: 1;
  }

  .ngs-menu-item-submenu-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    opacity: 0.5;
  }
}
