@reference 'tailwindcss';

:host {
  border: 1px solid var(--ngs-color-border);
  border-radius: var(--ngs-radio-card-border-radius);
  padding: var(--ngs-radio-card-padding);
  cursor: pointer;
  transition: var(--ngs-radio-card-transition);
  outline: none;
  display: flex;
  flex-direction: column;
  gap: --spacing(1);
  position: relative;

  .header {
    display: flex;
    align-items: center;
  }

  &:not(.disabled):hover {
    border-color: var(--ngs-radio-card-color-border-hover);
  }

  &.is-selected {
    border-color: var(--ngs-radio-card-color-selected-border);
    background: var(--ngs-radio-card-color-selected-bg);
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
  }

  .button {
    position: absolute;
    top: --spacing(1.5);
    right: --spacing(1);
  }
}
