@reference 'tailwindcss';

:host {
  display: inline-block;
  font-weight: 600;
  color: var(--ngs-color-on-surface);
  font-size: var(--ngs-font-size-sm);

  &.as-link {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
