@reference 'tailwindcss';

:host {
  display: block;
  width: max-content;
  padding: --spacing(2) --spacing(5);
  font-size: var(--ngs-font-size-sm);
  border-left: 1px solid var(--ngs-color-subtle);

  &:hover {
    color: var(--ngs-color-primary);
  }

  &.is-active {
    color: var(--ngs-color-primary);
    border-left-color: var(--sys-outline);
  }
}
