@reference 'tailwindcss';

:host {
  display: block;
  font-size: var(--ngs-font-size-sm);
  color: var(--ngs-color-neutral-600);
  text-align: center;
}

:host-context(html.dark) {
  color: var(--ngs-color-neutral-500);
}
