@reference 'tailwindcss';

ngs-playground {
  display: block;
  margin-bottom: --spacing(20);
}

.playground-markdown {
  display: block;

  ngs-code-highlighter {
    --ngs-code-highlighter-margin: 0 !important;
  }
}

.playground-source-drawer {
  background: var(--ngs-color-surface-container-lowest);
  color: var(--ngs-color-on-surface);
  flex: 1 1 auto;
  min-height: 0;

  ngs-panel {
    height: 100%;
  }
}

.playground-source-toolbar,
.playground-source-tab {
  background: var(--ngs-color-surface-container);
}


.playground-source-main {
  position: relative;
  min-width: 0;
  min-height: 0;
  overflow: hidden !important;
}

.playground-source-editor {
  position: relative;
  min-height: 0;
  background: var(--ngs-color-surface-container-lowest);

  ngs-code-highlighter {
    --ngs-code-highlighter-bg: var(--ngs-color-surface-container-lowest);
    --ngs-code-highlighter-padding: --spacing(4);
    --ngs-code-highlighter-margin: 0;

    display: block;
    min-height: 100%;
  }
}
