@reference 'tailwindcss';

:host {
  display: block;
  width: max-content;
  box-shadow: var(--ngs-shadow-sm);
  border-radius: var(--ngs-radius-lg);
  background: white;
  font-size: var(--ngs-font-size-xs);
  overflow: hidden;

  .title {
    &:empty {
      display: none;
    }
  }

  .body {
    &:empty {
      display: none;
    }
  }
}

:host-context(html.dark) {
  background: var(--ngs-color-tertiary-200);
  color: var(--ngs-color-neutral-800);
}
