@reference 'tailwindcss';
@reference '../../../styles/_common.scss';

:host {
  --ngs-sidebar-bg: transparent;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  width: var(--ngs-sidebar-width);
  background: var(--ngs-sidebar-bg);
}

:host-context(.ngs-sidenav.is-collapsed:not(:hover)),
:host(.compact:not(:hover)) {
  width: var(--ngs-sidenav-collapsed-width, 74px);
}

:host-context(.ngs-sidenav.is-collapsed:hover),
:host(.compact:hover) {
  width: var(--ngs-sidebar-width);
}

:host(.only-compact) {
  width: var(--ngs-sidenav-collapsed-width, 74px);
}
