@reference 'tailwindcss';

:host {
  --ngs-empty-state-title-font-size: theme('fontSize.xl');
  --ngs-empty-state-title-font-weight: theme('fontWeight.semibold');

  display: block;
  font-size: var(--ngs-empty-state-title-font-size);
  font-weight: var(--ngs-empty-state-title-font-weight);
}
