@reference 'tailwindcss';

:host {
  --ngs-image-placeholder-bg: var(--ngs-color-surface-container);
  --ngs-image-placeholder-illustration-bg: var(--ngs-color-neutral-400);
  --ngs-image-placeholder-illustration-primary: var(--ngs-color-neutral-600);
  --ngs-image-placeholder-illustration-secondary: var(--ngs-color-neutral-500);
  --ngs-image-placeholder-illustration-accent: var(--ngs-color-surface);
  --ngs-image-placeholder-illustration-accent-border: var(--ngs-color-outline-variant);

  display: flex;
  background: var(--ngs-image-placeholder-bg);
  align-items: center;
  justify-content: center;

  svg {
    width: 40%;
    min-width: 100px;
  }

  .placeholder-mountain-bg {
    fill: var(--ngs-image-placeholder-illustration-bg);
  }

  .placeholder-mountain-1 {
    fill: var(--ngs-image-placeholder-illustration-primary);
  }

  .placeholder-mountain-2 {
    fill: var(--ngs-image-placeholder-illustration-secondary);
  }

  .placeholder-mountain-sun {
    fill: var(--ngs-image-placeholder-illustration-accent);
    stroke: var(--ngs-image-placeholder-illustration-accent-border);
    stroke-width: 1px;
  }
}
