@if (headerComponent()) {
  <ng-container *ngComponentOutlet="headerComponent()" />
} @else {
  <div class="ngs-calendar-header">
    <button type="button" (click)="toggleView()" class="ngs-calendar-period-button">
      {{ periodButtonText() }}
    </button>
    <div class="ngs-calendar-header-actions">
      <button type="button" ngsIconButton (click)="prevPage()" class="ngs-calendar-previous-button">
        <ngs-icon name="fluent:chevron-left-24-regular" />
      </button>
      <button type="button" ngsIconButton (click)="nextPage()" class="ngs-calendar-next-button">
        <ngs-icon name="fluent:chevron-right-24-regular" />
      </button>
    </div>
  </div>
}

<div class="ngs-calendar-content" [class.ngs-calendar-content-multiple]="currentView() === 'month' && visibleCalendars() === 2">
  @if (currentView() === 'month') {
    @for (monthActiveDate of _monthViewActiveDates(); track _trackMonth($index, monthActiveDate)) {
      <ngs-month-view [activeDate]="monthActiveDate"
        [selected]="selected()"
        [rangePreviewDate]="_rangePreviewDate()"
        [sharedRangePreview]="true"
        (rangePreviewDateChange)="_rangePreviewDate.set($event)"
        (selectedChange)="selectedChange.emit($event)"
       />
    }
  } @else if (currentView() === 'year') {
    <ngs-year-view [activeDate]="activeDate()"
      [selected]="_selectedDate()"
      (monthSelected)="_monthSelectedInYearView($event)"
     />
  } @else if (currentView() === 'multi-year') {
    <ngs-multi-year-view [activeDate]="activeDate()"
      [selected]="_selectedDate()"
      (yearSelected)="_yearSelectedInMultiYearView($event)"
     />
  }
</div>
