@reference 'tailwindcss';

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: --spacing(1) --spacing(4);
  font-size: var(--ngs-font-size-sm);
  min-height: --spacing(10);

  .title {
    font-weight: bold;
    margin-inline-end: --spacing(3);

    &:empty {
      display: none;
    }
  }

  &[data-variant="neutral"] {
    background: var(--ngs-color-secondary-container);
    color: var(--ngs-color-on-secondary-container);
  }

  &[data-variant="informative"] {
    background: var(--ngs-color-info-container);
    color: var(--ngs-color-on-info-container);
  }

  &[data-variant="positive"] {
    background: var(--ngs-color-success-container);
    color: var(--ngs-color-on-success-container);
  }

  &[data-variant="warning"] {
    background: var(--ngs-color-warning-container);
    color: var(--ngs-color-on-warning-container);
  }

  &[data-variant="negative"] {
    background: var(--ngs-color-danger-container);
    color: var(--ngs-color-on-danger-container);
  }

  .content {
    display: flex;
    align-items: center;
    flex: 1 1 0;
  }

  .message {
    margin-inline-end: --spacing(3);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-inline-end: --spacing(2);
  }

  &:has(.icon) {
    padding-left: --spacing(3);
  }

  &:has(.close) {
    padding-right: --spacing(2.5);
  }

  .close {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    [ngsIconButton] {
      width: 2rem;
      height: 2rem;
      min-width: 2rem;
      min-height: 2rem;
      --btn-tonal-bg: transparent;
      --btn-filled-bg: transparent;

      ngs-icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}
