@reference 'tailwindcss';

:host {
  display: block;

  .content {
    outline: none;
    font-weight: 700;

    &:empty {
      &:before {
        content: attr(data-empty-placeholder);
        color: var(--ngs-color-neutral-500);
      }
    }
  }

  &.level-1 {
    .content {
      font-size: 3rem;
    }
  }

  &.level-2 {
    .content {
      font-size: 2.25rem;
    }
  }

  &.level-3 {
    .content {
      font-size: 1.875rem;
    }
  }
}
