<div class="phone-input-container">
  <button
    type="button"
    ngsRipple
    [ngsMenuTriggerFor]="menu"
    class="country-selector pe-1.5"
    [disabled]="disabled"
    (menuOpened)="openCountryMenu()"
    (menuClosed)="closeCountryMenu()">
    @if (selectedCountry()) {
      <span class="flag-icon" aria-hidden="true">{{ countryFlagEmoji(selectedCountry()?.shortCode) }}</span>

      @if (selectedCountry()?.phoneCode) {
        <span class="country-selector-code">{{ selectedCountry()?.phoneCode }}</span>
      }
    }
    <ngs-icon name="fluent:chevron-down-24-regular" class="text-neutral-500 size-4 relative ms-0.5"/>
  </button>

  <input
    ngsInput
    type="tel"
    inputmode="tel"
    [autocomplete]="autocomplete()"
    (blur)="onTouched()"
    (keypress)="onInputKeyPress($event)"
    [(ngModel)]="phoneNumber"
    (ngModelChange)="onPhoneNumberChange()"
    [errorStateMatcher]="errorStateMatcher()"
    [placeholder]="_placeholder()"
    [disabled]="disabled"
    class="grow"
    #focusable>
</div>

<ngs-menu #menu="ngsMenu">
  <ngs-menu-header>
    <div class="sticky top-0 z-1 bg-surface-container-lowest">
      <input #searchInput
             type="text"
             placeholder="Search..."
             autocomplete="off"
             [ngModel]="searchTerm()"
             (ngModelChange)="onCountrySearch($event)"
             class="w-full text-sm focus:outline-none border-b border-border focus:border-b-primary h-14 px-3">
      @if (searchTerm().trim()) {
        <div class="absolute end-1 top-1/2 -translate-y-1/2">
          <button
            ngsIconButton
            (click)="clearSearch($event)"
            class="clear-button"
            type="button"
            aria-label="Clear search">
            <ngs-icon name="fluent:dismiss-24-regular"/>
          </button>
        </div>
      }
    </div>
  </ngs-menu-header>

  @for (country of preferredCountriesInDropDown; track country.shortCode) {
    <button type="button" ngs-menu-item (click)="onCountrySelect(country, focusable)">
      <div class="flex items-center gap-2">
        <span class="flag-icon-option text-2xl" aria-hidden="true">{{ countryFlagEmoji(country.shortCode) }}</span>
        <div class="label-wrapper">
          {{ country.name }}
          <span [class.whitespace-nowrap]="!searchTerm()" class="text-neutral-500">{{ country.phoneCode }}</span>
        </div>
      </div>
    </button>
  }

  @if (preferredCountriesInDropDown.length) {
    <ngs-menu-divider/>
  }

  @for (country of visibleCountries(); track country.shortCode) {
    <button type="button" ngs-menu-item (click)="onCountrySelect(country, focusable)">
      <div class="flex items-center gap-2">
        <span class="flag-icon-option text-2xl" aria-hidden="true">{{ countryFlagEmoji(country.shortCode) }}</span>
        <div>
          {{ country.name }}
          <span [class.whitespace-nowrap]="!searchTerm()" class="text-neutral-500">{{ country.phoneCode }}</span>
        </div>
      </div>
    </button>
  } @empty {
    @if (searchTerm()) {
      <div class="text-sm px-4 py-3">
        <span i18n>No countries found</span>.
      </div>
    }
  }

  @if (visibleCountryCount() < filteredCountries().length) {
    <div class="country-loading">
      Loading more countries...
    </div>
  }
</ngs-menu>
