@reference 'tailwindcss';

:host {
  --ngs-notification-list-gap: 0;
  --ngs-notification-list-divider-color: var(--ngs-color-border);
  --ngs-notification-list-divider-inset: --spacing(17);

  display: flex;
  flex-direction: column;
  gap: var(--ngs-notification-list-gap);

  .notification {
    position: relative;

    &:not(:last-child) {
      &::after {
        position: absolute;
        inset-inline-start: var(--ngs-notification-list-divider-inset);
        inset-inline-end: 0;
        bottom: 0;
        height: 1px;
        background: var(--ngs-notification-list-divider-color);
        content: '';
        pointer-events: none;
      }
    }

    &.is-interactive {
      outline: none;

      &:focus-visible {
        outline: 2px solid var(--ngs-color-primary);
        outline-offset: --spacing(1);
        border-radius: var(--ngs-notification-radius, var(--ngs-radius-xl));
      }
    }

    &:hover,
    &:focus-within {
      .controls {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .controls {
    position: absolute;
    z-index: 1;
    top: 50%;
    inset-inline-end: --spacing(2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    transition: opacity 120ms ease;
  }

  &.has-controls {
    .notification {
      --ngs-notification-action-space: --spacing(11);
    }
  }

  @media (hover: none) {
    .controls {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
