@reference 'tailwindcss';

:host {
  --ngs-notification-list-gap: --spacing(6);

  display: flex;
  flex-direction: column;
  gap: var(--ngs-notification-list-gap);

  .notification {
    position: relative;

    &.is-interactive {
      outline: none;

      &:focus-visible {
        outline: 2px solid var(--ngs-color-primary);
        outline-offset: --spacing(1);
        border-radius: var(--ngs-notification-radius, var(--ngs-radius-xl));
      }
    }
  }

  .controls {
    position: absolute;
    inset-inline-end: --spacing(1);
    top: --spacing(1);
  }
}
