@reference 'tailwindcss';

:host {
  display: block;
  font-size: var(--ngs-dialog-title-font-size);
  font-weight: var(--ngs-dialog-title-font-weight);
  padding: var(--ngs-dialog-headline-padding, var(--ngs-dialog-header-padding));
  flex: none;

  &::before {
    display: inline-block;
    width: 0;
    height: 40px;
    content: '';
    vertical-align: 0;
  }
}
