@reference 'tailwindcss';

:host {
  --ngs-marquee-animation-duration: 20s;
  --ngs-marquee-gap: --spacing(6);
  --ngs-marquee-repeat-gap: var(--ngs-marquee-gap);
  --ngs-marquee-item-width: 0px;
  --ngs-marquee-reverse: ;
  --ngs-marquee-pause: running;

  display: block;
  width: 100%;

  .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0.5rem;

    .track {
      display: flex;
      gap: var(--ngs-marquee-repeat-gap);
      width: max-content;
      animation: ngs-marquee-animation var(--ngs-marquee-animation-duration) infinite linear var(--ngs-marquee-reverse);
      will-change: transform;
    }

    .item {
      display: flex;
      flex-shrink: 0;
      white-space: nowrap;
    }
  }

  .content:hover {
    .track {
      animation-play-state: var(--ngs-marquee-pause);
    }
  }

  .content.out-of-view {
    .track {
      animation-play-state: paused;
    }
  }

  .invisible {
    width: 0;
    height: 0;
    display: none;
    pointer-events: none;
  }

  @keyframes ngs-marquee-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc((var(--ngs-marquee-item-width) + var(--ngs-marquee-repeat-gap)) * -1));
    }
  }
}
