@reference 'tailwindcss';
@reference '../../../styles/_common.scss';

:host {
  --ngs-navigation-bg: inherit;
  --ngs-navigation-items-gap: var(--ngs-nav-items-gap);
  --ngs-navigation-item-width: var(--ngs-nav-item-width);
  --ngs-navigation-item-bg: transparent;
  --ngs-navigation-item-height: var(--ngs-nav-item-height);
  --ngs-navigation-item-padding: var(--ngs-nav-item-padding);
  --ngs-navigation-item-font-size: var(--ngs-nav-item-font-size);
  --ngs-navigation-item-border-radius: var(--ngs-nav-item-radius);
  --ngs-navigation-item-border-width: var(--ngs-nav-item-border-width);
  --ngs-navigation-item-border-color: var(--ngs-nav-item-border-color);
  --ngs-navigation-item-font-weight: var(--ngs-nav-item-font-weight);
  --ngs-navigation-item-color: var(--ngs-nav-item-color);
  --ngs-navigation-item-hover-bg: var(--ngs-nav-item-hover-bg);
  --ngs-navigation-item-active-bg: var(--ngs-nav-item-active-bg);
  --ngs-navigation-item-hover-color: var(--ngs-nav-item-hover-color);
  --ngs-navigation-item-active-color: var(--ngs-nav-item-active-color);
  --ngs-navigation-item-icon-color: var(--ngs-nav-item-icon-color);
  --ngs-navigation-item-icon-width: var(--ngs-nav-item-icon-width);
  --ngs-navigation-item-hover-icon-color: var(--ngs-nav-item-hover-icon-color);
  --ngs-navigation-item-active-icon-color: var(--ngs-nav-item-active-icon-color);
  --ngs-navigation-item-icon-size: var(--ngs-nav-item-icon-size);
  --ngs-navigation-item-gap: var(--ngs-nav-item-gap);
  --ngs-navigation-item-has-icon-padding-start: var(--ngs-nav-item-gap);
  --ngs-navigation-heading-color: var(--ngs-color-on-surface-variant);
  --ngs-navigation-heading-font-size: var(--ngs-nav-heading-font-size);
  --ngs-navigation-heading-font-weight: var(--ngs-nav-heading-font-weight);
  --ngs-navigation-heading-padding: var(--ngs-nav-heading-padding);
  --ngs-navigation-heading-margin-bottom: var(--ngs-nav-heading-margin-bottom);
  --ngs-navigation-heading-after-margin: var(--ngs-nav-heading-after-margin);
  --ngs-navigation-heading-text-transform: var(--ngs-nav-heading-text-transform);
  --ngs-navigation-divider-height: var(--ngs-nav-divider-height);
  --ngs-navigation-divider-bg: var(--ngs-color-subtle);
  --ngs-navigation-divider-margin: var(--ngs-nav-divider-margin);
  --ngs-navigation-group-toggle-has-icon-padding-end: var(--ngs-nav-group-toggle-padding-end);
  --ngs-navigation-group-toggle-icon-color: var(--ngs-color-on-surface-variant);
  --ngs-navigation-group-toggle-icon-position-end: var(--ngs-nav-group-toggle-icon-position-end);
  --ngs-navigation-group-toggle-icon-size: var(--ngs-nav-group-toggle-icon-size);
  --ngs-navigation-group-menu-padding-start: 0;
  --ngs-navigation-group-toggle-bg: transparent;
  --ngs-navigation-group-toggle-active-bg: var(--ngs-nav-item-active-bg);
  --ngs-navigation-group-toggle-active-color: var(--ngs-nav-item-active-color);
  --ngs-navigation-nested-item-bg: transparent;
  --ngs-navigation-nested-item-height: var(--ngs-nav-nested-item-height);
  --ngs-navigation-nested-item-padding: var(--ngs-nav-nested-item-padding);
  --ngs-navigation-nested-item-margin: var(--ngs-nav-nested-item-margin);
  --ngs-navigation-nested-item-border-radius: var(--ngs-nav-nested-item-border-radius);
  --ngs-navigation-nested-item-color: var(--ngs-nav-item-color);
  --ngs-navigation-nested-item-hover-bg: var(--ngs-nav-item-hover-bg);
  --ngs-navigation-nested-item-active-bg: var(--ngs-nav-item-active-bg);
  --ngs-navigation-nested-item-hover-color: var(--ngs-nav-item-hover-color);
  --ngs-navigation-nested-item-active-color: var(--ngs-nav-item-active-color);
  --ngs-navigation-nested-item-indicator-width: var(--ngs-nav-nested-item-indicator-width);
  --ngs-navigation-nested-item-indicator-height: var(--ngs-nav-nested-item-indicator-height);
  --ngs-navigation-nested-item-indicator-bg: var(--ngs-color-outline);
  --ngs-navigation-nested-item-indicator-position-start: var(--ngs-nav-nested-item-indicator-position-start);
  --ngs-navigation-group-active-bg: transparent;
  --ngs-navigation-group-border-radius: 0;
  --ngs-navigation-group-tree-lines-color: var(--ngs-color-subtle);
  --ngs-navigation-heading-text-align: var(--ngs-nav-heading-text-align);

  display: flex;
  flex-direction: column;
  gap: var(--ngs-navigation-items-gap);
  background: var(--ngs-navigation-bg);

  ::ng-deep {
    .ngs-navigation-group-toggle-icon {
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }

    & > * + .ngs-navigation-heading {
      margin-top: var(--ngs-navigation-heading-after-margin);
    }
  }
}
