@reference 'tailwindcss';
@reference '../../../styles/_common.scss';

:host {
  --ngs-navigation-bg: inherit;
  --ngs-navigation-items-gap: --spacing(0.5);
  --ngs-navigation-item-width: 100%;
  --ngs-navigation-item-bg: transparent;
  --ngs-navigation-item-height: --spacing(11);
  --ngs-navigation-item-padding: 0 --spacing(3);
  --ngs-navigation-item-font-size: theme(--text-sm);
  --ngs-navigation-item-border-radius: --spacing(3);
  --ngs-navigation-item-border-width: 1px;
  --ngs-navigation-item-border-color: transparent;
  --ngs-navigation-item-font-weight: 500;
  --ngs-navigation-item-color: var(--nav-item-color);
  --ngs-navigation-item-hover-bg: var(--nav-item-hover-bg);
  --ngs-navigation-item-active-bg: var(--nav-item-active-bg);
  --ngs-navigation-item-hover-color: var(--nav-item-hover-color);
  --ngs-navigation-item-active-color: var(--nav-item-active-color);
  --ngs-navigation-item-icon-color: var(--nav-item-icon-color);
  --ngs-navigation-item-icon-width: 27px;
  --ngs-navigation-item-hover-icon-color: var(--nav-item-hover-icon-color);
  --ngs-navigation-item-active-icon-color: var(--nav-item-active-icon-color);
  --ngs-navigation-item-icon-size: --spacing(6);
  --ngs-navigation-item-gap: --spacing(2.5);
  --ngs-navigation-item-has-icon-padding-start: --spacing(2.5);
  --ngs-navigation-heading-color: var(--color-on-surface-variant);
  --ngs-navigation-heading-font-size: theme(--text-2xs);
  --ngs-navigation-heading-font-weight: 700;
  --ngs-navigation-heading-padding: 0 --spacing(3);
  --ngs-navigation-heading-margin-bottom: --spacing(2);
  --ngs-navigation-heading-after-margin: --spacing(8);
  --ngs-navigation-heading-text-transform: uppercase;
  --ngs-navigation-divider-height: 1px;
  --ngs-navigation-divider-bg: var(--color-subtle);
  --ngs-navigation-divider-margin: --spacing(6) 0;
  --ngs-navigation-group-toggle-has-icon-padding-end: --spacing(1.5);
  --ngs-navigation-group-toggle-icon-color: var(--color-on-surface-variant);
  --ngs-navigation-group-toggle-icon-position-end: --spacing(3);
  --ngs-navigation-group-toggle-icon-size: --spacing(4);
  --ngs-navigation-group-menu-padding-start: 0;
  --ngs-navigation-group-toggle-bg: transparent;
  --ngs-navigation-group-toggle-active-bg: var(--nav-item-active-bg);
  --ngs-navigation-group-toggle-active-color: var(--nav-item-active-color);
  --ngs-navigation-nested-item-bg: transparent;
  --ngs-navigation-nested-item-height: --spacing(11);
  --ngs-navigation-nested-item-padding: 0 --spacing(3);
  --ngs-navigation-nested-item-margin: 0 0 0 52px;
  --ngs-navigation-nested-item-border-radius: 0;
  --ngs-navigation-nested-item-color: var(--nav-item-color);
  --ngs-navigation-nested-item-hover-bg: var(--nav-item-hover-bg);
  --ngs-navigation-nested-item-active-bg: var(--nav-item-active-bg);
  --ngs-navigation-nested-item-hover-color: var(--nav-item-hover-color);
  --ngs-navigation-nested-item-active-color: var(--nav-item-active-color);
  --ngs-navigation-nested-item-indicator-width: --spacing(3.5);
  --ngs-navigation-nested-item-indicator-height: --spacing(0.5);
  --ngs-navigation-nested-item-indicator-bg: var(--color-outline);
  --ngs-navigation-nested-item-indicator-position-start: calc(--spacing(2.5) * -1);
  --ngs-navigation-group-active-bg: transparent;
  --ngs-navigation-group-border-radius: 0;
  --ngs-navigation-group-tree-lines-color: var(--color-subtle);
  --ngs-navigation-heading-text-align: start;

  display: flex;
  flex-direction: column;
  gap: var(--ngs-navigation-items-gap);
  background: var(--ngs-navigation-bg);

  ::ng-deep {
    .ngs-navigation-group-toggle-icon {
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }

    & > * + .ngs-navigation-heading {
      margin-top: var(--ngs-navigation-heading-after-margin);
    }
  }
}
