@reference 'tailwindcss';

:host {
  --ngs-select-arrow-color: var(--ngs-color-on-surface-variant);
  --ngs-select-font-size: var(--ngs-field-font-size);
  --ngs-select-placeholder-color: var(--ngs-field-label-color);
  --ngs-select-border-color: var(--ngs-field-border-color);
  --ngs-select-min-width: 120px;
  --ngs-select-arrow-container-width: --spacing(5);
  --ngs-select-arrow-size: 18px;

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: var(--ngs-select-font-size);
  min-width: var(--ngs-select-min-width);
  padding-right: var(--ngs-select-arrow-container-width);

  &:has(ngs-filter-trigger) {
    --ngs-select-min-width: 0;
    --ngs-select-arrow-container-width: --spacing(7);

    position: relative;
  }

  &.ngs-select-panel-open.ngs-select-has-filter-trigger {
    .ngs-select-arrow-wrapper {
      transform: rotate(-180deg);
    }
  }

  &.ngs-select-disabled {
    cursor: default;
    pointer-events: none;
    --ngs-select-border-color: color-mix(in srgb, var(--ngs-color-outline), transparent 80%);

    .ngs-select-trigger {
      opacity: 0.38;
    }
  }

  .ngs-select-value {
    display: flex;
    align-items: center;
    max-width: 100%;
    min-width: 0;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: var(--ngs-field-line-height);
    font-size: var(--ngs-field-font-size);
  }

  .ngs-select-value-text {
    display: block;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ngs-select-placeholder {
    display: block;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--ngs-select-placeholder-color);
  }

  .ngs-form-field & {
    min-width: 0;
  }

  .ngs-select-arrow {
    width: var(--ngs-select-arrow-size);
    height: var(--ngs-select-arrow-size);
    display: flex;
    color: var(--ngs-select-arrow-color);
  }

  .ngs-select-arrow-wrapper {
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    display: inline-flex;
    transition: transform 200ms ease;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: var(--ngs-select-arrow-container-width);

    .ngs-form-field:not(.ngs-form-field-has-label) &,
    .ngs-paginator & {
      top: 0;
    }
  }

  .ngs-select-trigger {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    line-height: var(--ngs-field-line-height);
    font-size: var(--ngs-field-font-size);

    .hidden {
      display: none;
    }
  }

  ::ng-deep {
    ngs-select-trigger,
    .ngs-select-trigger-content {
      display: flex;
      align-items: center;
      min-width: 0;
      max-width: 100%;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
    }

    .ngs-select-trigger-content {
      gap: var(--ngs-select-trigger-gap, var(--ngs-dropdown-item-gap, --spacing(2)));
    }

    .ngs-select-trigger-icon {
      flex: none;
      line-height: 0;
    }

    .ngs-select-trigger-text {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

:host-context(.ngs-form-field-focused) {
  .ngs-select-arrow-wrapper {
    transform: rotate(180deg);
  }
}

.ngs-select-panel {
  background: var(--ngs-select-panel-bg, var(--ngs-dropdown-bg));
  box-shadow: var(--ngs-select-panel-shadow, var(--ngs-dropdown-shadow));
  border-radius: var(--ngs-dropdown-radius);
  width: 100%;
  transform-origin: top;
  animation: ngs-dropdown-panel-showing 150ms cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  outline: var(--ngs-select-panel-border, var(--ngs-dropdown-border));

  &.ngs-select-panel-above {
    transform-origin: bottom;
  }

  &:not(:has(.ngs-select-body)) {
    max-height: var(--ngs-select-panel-max-height, var(--ngs-dropdown-max-height, 256px));
  }

  .ngs-select-header,
  .ngs-select-footer {
    display: block;
    flex: none;
    z-index: 1;
  }

  .ngs-select-content {
    position: relative;
    padding: var(--ngs-select-content-padding, var(--ngs-dropdown-padding, --spacing(2)));
    overflow: auto;
    max-height: inherit;
  }
}
