<div class="ngs-select-trigger" cdkOverlayOrigin #origin="cdkOverlayOrigin">
  <div class="ngs-select-value">
    @if (empty) {
      <span class="ngs-select-placeholder">{{ placeholder }}</span>
    } @else {
      @if (customTrigger().length > 0) {
        <ng-content select="ngs-select-trigger"/>
      } @else {
        <span class="ngs-select-value-text">{{ triggerValue() }}</span>
      }
    }
  </div>
</div>
<div class="ngs-select-arrow-wrapper">
  <svg viewBox="0 0 24 24" class="ngs-select-arrow">
    <path fill="currentColor"
          d="M4.22 8.47a.75.75 0 0 1 1.06 0L12 15.19l6.72-6.72a.75.75 0 1 1 1.06 1.06l-7.25 7.25a.75.75 0 0 1-1.06 0L4.22 9.53a.75.75 0 0 1 0-1.06"></path>
  </svg>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="panelOpen()"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayWidth]="overlayWidth"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="close()"
  (positionChange)="_onPositionChange($event)"
  (detach)="close()"
>
  <div
    class="ngs-select-panel"
    [class.ngs-select-panel-above]="_panelPosition() === 'top'"
    #panel
    [attr.id]="id + '-panel'"
    (keydown)="_handleKeydown($event)"
  >
    <ng-content select="ngs-select-header"/>

    @if (selectBody().length > 0) {
      <ng-content select="ngs-select-body"/>
    } @else {
      <div class="ngs-select-content">
        <ng-content select="ngs-optgroup,ngs-option" />
        <ng-content/>
      </div>
    }

    <ng-content select="ngs-select-footer"/>
  </div>
</ng-template>


