<div class="ngs-select-trigger" cdkOverlayOrigin #origin="cdkOverlayOrigin">
  <div class="ngs-select-value">
    @if (customTrigger().length > 0 || filterTrigger().length > 0) {
      <ng-content select="ngs-select-trigger"/>
      <ng-content select="ngs-filter-trigger"/>
    } @else {
      @if (empty) {
        <span class="ngs-select-placeholder">{{ placeholder }}</span>
      } @else {
        <span class="ngs-select-value-text">{{ triggerValue() }}</span>
      }
    }
  </div>
</div>
@if (showClearButton()) {
  <button
    type="button"
    class="ngs-select-clear-button"
    aria-label="Clear selection"
    (click)="clear($event)">
    <svg viewBox="0 0 24 24" class="ngs-select-clear-icon" aria-hidden="true">
      <path
        fill="currentColor"
        d="M6.22 6.22a.75.75 0 0 1 1.06 0L12 10.94l4.72-4.72a.75.75 0 1 1 1.06 1.06L13.06 12l4.72 4.72a.75.75 0 1 1-1.06 1.06L12 13.06l-4.72 4.72a.75.75 0 0 1-1.06-1.06L10.94 12 6.22 7.28a.75.75 0 0 1 0-1.06Z"/>
    </svg>
  </button>
}
<div class="ngs-select-arrow-wrapper">
  <svg viewBox="0 0 24 24" class="ngs-select-arrow">
    <path fill="currentColor"
          d="M4.22 8.47a.75.75 0 0 1 1.06 0L12 15.19l6.72-6.72a.75.75 0 1 1 1.06 1.06l-7.25 7.25a.75.75 0 0 1-1.06 0L4.22 9.53a.75.75 0 0 1 0-1.06"></path>
  </svg>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="panelOpen()"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayWidth]="overlayWidth"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="close()"
  (positionChange)="_onPositionChange($event)"
  (detach)="close()"
>
  <div
    class="ngs-select-panel"
    [class.ngs-select-panel-above]="_panelPosition() === 'top'"
    #panel
    [attr.id]="id + '-panel'"
    (keydown)="_handleKeydown($event)"
  >
    <ng-content select="ngs-select-header"/>

    @if (selectBody().length > 0) {
      <ng-content select="ngs-select-body"/>
    } @else {
      <div class="ngs-select-content">
        <ng-content select="ngs-optgroup,ngs-option" />
        <ng-content/>
      </div>
    }

    <ng-content select="ngs-select-footer"/>
  </div>
</ng-template>
