:host {
  --ngs-split-gutter-size: 5px;
  --ngs-split-handle-size: 10px;
  --ngs-split-handle-offset: calc((var(--ngs-split-handle-size) - var(--ngs-split-gutter-size)) * 0.5);
  --ngs-split-gutter-bg: var(--ngs-color-surface-container-high);
  --ngs-split-gutter-hover-bg: var(--ngs-color-primary);

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  width: 100%;
  height: 100%;

  ::ng-deep > .ngs-split-gutter {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      background-color: var(--ngs-split-gutter-bg);
      transition: background-color 0.2s;
    }

    &:hover::before {
      background-color: var(--ngs-split-gutter-hover-bg);
    }

    > .ngs-split-gutter-handle {
      position: absolute;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &.has-dots {
        opacity: 1;
      }

      .ngs-split-gutter-dot {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: var(--ngs-color-on-surface);
      }
    }
  }

  ::ng-deep > .ngs-split-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 0;
    min-height: 0;
    overflow: hidden auto;

    &.ngs-dragging {
      user-select: none;
    }

    > * {
      flex-shrink: 0;
    }

    /* When <ngs-split-pane [visible]="false"> force size to 0. */

    &.ngs-split-pane-hidden {
      flex: 0 1 0 !important;
      overflow: hidden;
    }
  }

  &.ngs-split-horizontal {
    flex-direction: row;

    &.ngs-dragging {
      cursor: col-resize;
    }

    ::ng-deep > .ngs-split-gutter {
      flex-direction: row;
      height: 100%;
      width: var(--ngs-split-gutter-size);
      cursor: col-resize;

      &::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      > .ngs-split-gutter-handle {
        width: var(--ngs-split-handle-size);
        height: 100%;
        left: calc(-1 * var(--ngs-split-handle-offset));
        flex-direction: column;
        gap: 2px;
      }
    }

    ::ng-deep > .ngs-split-pane {
      height: 100%;
      min-height: 0;
    }
  }

  &.ngs-split-vertical {
    flex-direction: column;

    &.ngs-dragging {
      cursor: row-resize;
    }

    ::ng-deep > .ngs-split-gutter {
      flex-direction: column;
      width: 100%;
      height: var(--ngs-split-gutter-size);
      cursor: row-resize;

      &::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      > .ngs-split-gutter-handle {
        width: 100%;
        height: var(--ngs-split-handle-size);
        top: calc(-1 * var(--ngs-split-handle-offset));
        flex-direction: row;
        gap: 3px;
      }
    }

    ::ng-deep > .ngs-split-pane {
      width: 100%;
      min-width: 0;

      &.ngs-split-pane-hidden {
        max-width: 0;
      }
    }
  }

  /* When disabled remove gutters background image and specific cursor. */

  &.ngs-split-disabled {
    ::ng-deep > .ngs-split-gutter {
      cursor: default;

      .ngs-split-gutter-handle {
        background-image: none;
      }
    }
  }

  /* Add transition only when transition enabled + split initialized + not currently dragging. */

  &.ngs-split-transition.ngs-split-init:not(.ngs-dragging) {
    ::ng-deep > .ngs-split-gutter,
    ::ng-deep > .ngs-split-pane {
      transition: flex-basis 0.3s;
    }
  }
}
