@reference 'tailwindcss';

:host {
  display: block;
  padding: 0 --spacing(2);

  .divider {
    height: --spacing(6);
    background: var(--ngs-color-neutral-300);
    width: 1px;
  }
}

:host-context(html.dark) {
  .divider {
    background: var(--ngs-color-neutral-500);
  }
}
