@reference 'tailwindcss';
@reference '../../../styles/_common.scss';

:host {
  display: flex;
  align-items: center;
  min-width: 0;
  white-space: nowrap;
  position: relative;
  flex: none;
  cursor: pointer;
  user-select: none;
  background: var(--ngs-sidebar-nav-group-toggle-bg);
  min-height: var(--ngs-sidebar-nav-item-height);
  padding: var(--ngs-sidebar-nav-item-padding);
  font-size: var(--ngs-sidebar-nav-item-font-size);
  border-radius: var(--ngs-sidebar-nav-item-radius);
  font-weight: var(--ngs-sidebar-nav-item-font-weight);
  color: var(--ngs-sidebar-nav-item-color);
  gap: var(--ngs-sidebar-nav-item-gap);
  width: var(--ngs-sidebar-nav-item-width);

  .text {
    overflow: hidden;
    text-overflow: ellipsis;

    ::ng-deep {
      .ngs-sidebar-full-view-mode {
        display: block;
      }

      .ngs-sidebar-compact-view-mode {
        display: none;
      }
    }
  }

  .badge {
    &:empty {
      display: none;
    }

    display: inline-flex;
    flex: none;
    border-radius: calc(infinity * 1px);
    height: var(--ngs-nav-badge-size);
    align-items: center;
    justify-content: center;
    min-width: var(--ngs-nav-badge-size);
    font-size: var(--ngs-font-size-xs);
    padding: var(--ngs-nav-badge-padding);
    background: var(--ngs-color-primary);
    color: var(--ngs-color-on-primary);
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--ngs-sidebar-nav-item-icon-width);
    color: var(--ngs-sidebar-nav-group-toggle-icon-color);
    flex: none;

    &:empty {
      display: none;
    }
  }

  .arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease;
    color: var(--ngs-sidebar-nav-group-arrow-color);
    width: var(--ngs-nav-arrow-size);
    height: var(--ngs-nav-arrow-size);
    flex: none;

    &:empty {
      display: none;
    }
  }

  &:hover {
    background: var(--ngs-sidebar-nav-item-hover-bg);
    color: var(--ngs-sidebar-nav-group-toggle-hover-icon-color);
    transition: background-color .2s;
  }

  &.is-active,
  &.is-active:hover {
    background: var(--ngs-sidebar-nav-group-toggle-active-bg);
    color: var(--ngs-sidebar-nav-group-toggle-active-color);
  }

  &:not(.is-active):hover .icon {
    color: var(--ngs-sidebar-nav-item-hover-icon-color);
  }

  &.is-active {
    .icon {
      color: var(--ngs-sidebar-nav-group-toggle-active-icon-color);
    }

    .arrow {
      transform: rotate(-180deg);
    }
  }

  &:has(.arrow:not(:empty)) {
    padding-inline-end: var(--ngs-sidebar-nav-group-toggle-has-icon-padding-end);
  }
}

:host-context(.ngs-sidebar.compact),
:host-context(.ngs-sidenav.is-collapsed:not(:hover)) {
  .text {
    display: none;
  }

  .text {
    ::ng-deep {
      .ngs-sidebar-full-view-mode {
        display: none;
      }

      .ngs-sidebar-compact-view-mode {
        display: block;
      }
    }
  }

  justify-content: center;
  padding: 0;
  gap: 0;

  > .flex,
  .badge,
  .arrow {
    display: none;
  }
}


:host-context(.ngs-sidebar.compact:hover),
:host-context(.ngs-sidenav.is-collapsed:hover) {
  .text {
    display: block;
  }

  .text {
    ::ng-deep {
      .ngs-sidebar-compact-view-mode {
        display: none;
      }

      .ngs-sidebar-full-view-mode {
        display: block;
      }
    }
  }

  justify-content: flex-start;
  padding-inline-start: var(--ngs-sidebar-nav-compact-icon-padding-start);
  padding-inline-end: var(--ngs-sidebar-nav-group-toggle-has-icon-padding-end);
  gap: var(--ngs-sidebar-nav-item-gap);

  > .flex {
    display: flex;
  }
}

:host-context(.ngs-sidebar.only-compact) {
  .text {
    display: none;

    ::ng-deep {
      .ngs-sidebar-full-view-mode {
        display: none;
      }

      .ngs-sidebar-compact-view-mode {
        display: block;
      }
    }
  }

  justify-content: center;
  padding: 0;
  gap: 0;

  > .flex,
  .badge,
  .arrow {
    display: none;
  }
}
