@reference 'tailwindcss';

:host {
  flex: none;
  cursor: pointer;
  display: inline-flex;
  color: var(--ngs-file-control-color);

  &:hover {
    color: var(--ngs-file-control-hover-color);
  }

  ::ng-deep {
    ngs-icon {
      --ngs-icon-size: --spacing(6);
    }
  }
}
