@reference 'tailwindcss';

:host {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  background: var(--ngs-color-surface-container-lowest);

  canvas {
    display: block;
    width: 100%;
    height: 250px;
    z-index: 1;
    position: relative;
  }

  .ngs-brand-colors {
    --ngs-brand-colors-color-size: --spacing(5);
    --ngs-brand-colors-gap: --spacing(2);
    position: absolute;
    top: --spacing(3);
    right: --spacing(3);
    z-index: 2;
  }

  .clear-button {
    position: absolute;
    top: --spacing(1);
    left: --spacing(1);
    z-index: 2;
  }

  .line {
    position: absolute;
    height: 1px;
    z-index: 0;
    background: var(--ngs-color-surface-container-highest);
    left: 40px;
    right: 40px;
    bottom: 50px;
  }
}
