@reference 'tailwindcss';

:host {
  margin-top: --spacing(1);
  display: block;

  --ngs-progress-bar-track-height: --spacing(2);
  --ngs-progress-bar-active-indicator-height: --spacing(2);

  ::ng-deep .mdc-linear-progress__bar-inner {
    --ngs-progress-bar-active-indicator-color: transparent;
  }

  &.low {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --ngs-progress-bar-active-indicator-color: theme(--color-red-400);
    }
  }

  &.weak {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --ngs-progress-bar-active-indicator-color: theme(--color-amber-400);
    }
  }

  &.medium {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --ngs-progress-bar-active-indicator-color: var(--color-green-500);
    }
  }

  &.strong {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --ngs-progress-bar-active-indicator-color: var(--color-green-500);
    }
  }

  &.very-strong {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --ngs-progress-bar-active-indicator-color: var(--color-green-500);
    }
  }
}
