@reference 'tailwindcss';

:host {
  display: block;
  white-space: nowrap;
  font-weight: var(--ngs-toolbar-title-font-weight, 700);

  &.appearance-large {
    font-size: var(--ngs-toolbar-title-font-size, var(--ngs-font-size-lg));
  }
}
