<ng-container #anchor/>

@if (!customLoaded()) {
  @switch (field().type) {
    @case ('textarea') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <textarea ngsInput
                  rows="3"
                  [formControl]="control()"
                  [placeholder]="field().placeholder || ''"
                  [readonly]="readonly() || field().readonly"></textarea>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }

    @case ('hidden') {
      <input type="hidden" [formControl]="control()">
    }

    @case ('select') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <ngs-select [formControl]="control()"
                    [placeholder]="field().placeholder || ''"
                    [multiple]="field().multiple ?? false"
                    [clearable]="field().clearable ?? false"
                    [dataSource]="selectDataSource()"
                    [pageSize]="selectPageSize()"
                    [searchable]="selectSearchable()"
                    [searchDebounce]="selectSearchDebounce()"
                    [minSearchLength]="selectMinSearchLength()"
                    [loadOnOpen]="selectLoadOnOpen()">
          @if (selectOptionContentComponent(); as optionComponent) {
            <ng-template ngsOptionContentDef
                         let-data
                         let-option="option"
                         let-value="value"
                         let-label="label"
                         let-selected="selected"
                         let-disabled="disabled"
                         let-multiple="multiple">
              <ng-container
                [ngComponentOutlet]="optionComponent"
                [ngComponentOutletInputs]="selectOptionContentInputs(data, option, value, label, selected, disabled, multiple)"/>
            </ng-template>
          }

          @if (selectValueComponent(); as valueComponent) {
            <ng-template ngsSelectValueDef
                         let-data
                         let-option="option"
                         let-value="value"
                         let-label="label"
                         let-labels="labels"
                         let-count="count"
                         let-multiple="multiple">
              <ng-container
                [ngComponentOutlet]="valueComponent"
                [ngComponentOutletInputs]="selectValueInputs(data, option, value, label, labels, count, multiple)"/>
            </ng-template>
          }

          @if (!selectUsesDataSource()) {
            @for (option of field().options ?? []; track option.value) {
              <ngs-option [value]="option.value">{{ option.label }}</ngs-option>
            }
          }
        </ngs-select>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }

    @case ('radio') {
      <div class="ngs-form-builder-choice-field">
        <span class="ngs-form-builder-choice-label">{{ field().label }}</span>
        <ngs-radio-group [formControl]="control()"
                         [name]="field().name"
                         [orientation]="radioOrientation()">
          @for (option of field().options ?? []; track option.value) {
            <ngs-radio-button [value]="option.value">{{ option.label }}</ngs-radio-button>
          }
        </ngs-radio-group>
        @if (field().hint) {
          <span class="ngs-form-builder-choice-hint">{{ field().hint }}</span>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <span class="ngs-form-builder-field-error">{{ errorMessage }}</span>
        }
      </div>
    }

    @case ('segmented') {
      <div class="ngs-form-builder-choice-field">
        <span class="ngs-form-builder-choice-label">{{ field().label }}</span>
        <ngs-segmented [formControl]="control()"
                       [disabled]="readonly() || !!field().readonly || !!field().disabled">
          @for (option of field().options ?? []; track option.value) {
            <button ngs-segmented-button type="button" [value]="option.value">{{ option.label }}</button>
          }
        </ngs-segmented>
        @if (field().hint) {
          <span class="ngs-form-builder-choice-hint">{{ field().hint }}</span>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <span class="ngs-form-builder-field-error">{{ errorMessage }}</span>
        }
      </div>
    }

    @case ('checkbox') {
      <div class="ngs-form-builder-check-field">
        <ngs-checkbox [formControl]="control()">
          {{ field().label }}
        </ngs-checkbox>
        @if (field().hint) {
          <span>{{ field().hint }}</span>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <span class="ngs-form-builder-field-error">{{ errorMessage }}</span>
        }
      </div>
    }

    @case ('toggle') {
      <div class="ngs-form-builder-check-field">
        <ngs-slide-toggle [formControl]="control()">
          {{ field().label }}
        </ngs-slide-toggle>
        @if (field().hint) {
          <span>{{ field().hint }}</span>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <span class="ngs-form-builder-field-error">{{ errorMessage }}</span>
        }
      </div>
    }

    @case ('validation-rules') {
      <div class="ngs-form-builder-validation-rules">
        <div>
          <div class="ngs-form-builder-choice-label">{{ field().label }}</div>
          @if (field().hint) {
            <div class="ngs-form-builder-choice-hint">{{ field().hint }}</div>
          }
        </div>

        <div class="ngs-form-builder-validation-rule-list mt-2">
          @for (definition of validationDefinitions(); track definition.type) {
            <div class="ngs-form-builder-validation-rule">
              <ngs-checkbox
                [checked]="hasValidationRule(definition.type)"
                [disabled]="readonly() || !!field().readonly || !!field().disabled"
                (change)="setValidationRuleEnabled(definition, $event.checked)">
                {{ definition.label }}
              </ngs-checkbox>

              @if (definition.description) {
                <span class="ngs-form-builder-validation-rule-description">{{ definition.description }}</span>
              }

              @if (hasValidationRule(definition.type)) {
                <div class="ngs-form-builder-validation-rule-settings">
                  @if (validatorRequiresValue(definition)) {
                    <ngs-form-field>
                      <ngs-label>{{ definition.valueLabel || 'Value' }}</ngs-label>
                      <input ngsInput
                             [type]="validationRuleInputType(definition)"
                             [value]="validationRuleValue(definition.type)"
                             [placeholder]="definition.valuePlaceholder || ''"
                             [readonly]="readonly() || !!field().readonly"
                             [disabled]="!!field().disabled"
                             (input)="updateValidationRuleValue(definition, $event)">
                    </ngs-form-field>
                  }

                  <ngs-form-field>
                    <ngs-label>Error message</ngs-label>
                    <input ngsInput
                           type="text"
                           [value]="validationRuleMessage(definition.type)"
                           [readonly]="readonly() || !!field().readonly"
                           [disabled]="!!field().disabled"
                           (input)="updateValidationRuleMessage(definition, $event)">
                  </ngs-form-field>
                </div>
              }
            </div>
          }
        </div>
      </div>
    }

    @case ('date') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <input ngsInput
               [ngsDatepicker]="picker"
               [formControl]="control()"
               [placeholder]="field().placeholder || ''"
               [readonly]="readonly() || field().readonly">
        <ngs-datepicker-toggle ngsIconButtonSuffix [for]="picker"/>
        <ngs-datepicker #picker/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }

    @case ('time') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <input ngsInput
               [ngsTimepicker]="timePicker"
               [formControl]="control()"
               [placeholder]="field().placeholder || ''"
               [readonly]="readonly() || field().readonly">
        <ngs-timepicker-toggle ngsIconButtonSuffix [for]="timePicker"/>
        <ngs-timepicker #timePicker/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }

    @case ('date-range') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <ngs-date-range-input #rangeInput [rangePicker]="rangePicker">
          <input ngsStartDate
                 [value]="dateRangeStartValue()"
                 [placeholder]="field().placeholder || 'Start date'"
                 [readonly]="readonly() || field().readonly"
                 [disabled]="dateRangeDisabled()"
                 (input)="onDateRangeChanged(rangeInput)">
          <input ngsEndDate
                 [value]="dateRangeEndValue()"
                 placeholder="End date"
                 [readonly]="readonly() || field().readonly"
                 [disabled]="dateRangeDisabled()"
                 (input)="onDateRangeChanged(rangeInput)">
        </ngs-date-range-input>
        <ngs-datepicker-toggle ngsIconButtonSuffix [for]="rangePicker"/>
        <ngs-date-range-picker #rangePicker/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }

    @case ('upload') {
      <div class="ngs-form-builder-upload-field"
           [class.is-disabled]="uploadDisabled()">
        <span class="ngs-form-builder-choice-label">{{ field().label }}</span>
        <ngs-upload-area ngsUploadTrigger
                         [accept]="uploadAccept()"
                         [multiple]="field().multiple ?? false"
                         (fileSelected)="onUploadFilesSelected($event)">
          <ngs-icon name="fluent:arrow-upload-24-regular" ngsUploadAreaIcon/>
          <ng-container ngsUploadAreaMainState>
            {{ uploadSelectedText() }}
          </ng-container>
          <ng-container ngsUploadAreaDropState>
            Drop files here
          </ng-container>
          <ng-container ngsUploadAreaInvalidState>
            Invalid file type
          </ng-container>
        </ngs-upload-area>
        @if (field().hint) {
          <span class="ngs-form-builder-choice-hint">{{ field().hint }}</span>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <span class="ngs-form-builder-field-error">{{ errorMessage }}</span>
        }
      </div>
    }

    @case ('spacer') {
      <div class="ngs-form-builder-spacer"
           [class.is-height-8]="spacerHeight() === 8"
           [class.is-height-16]="spacerHeight() === 16"
           [class.is-height-24]="spacerHeight() === 24"
           [class.is-height-32]="spacerHeight() === 32"
           [class.is-height-48]="spacerHeight() === 48"
           [class.is-height-64]="spacerHeight() === 64"
           aria-hidden="true"></div>
    }

    @case ('timezone-select') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <ngs-timezone-select [formControl]="control()"
                             [placeholder]="field().placeholder || ''"
                             [required]="isRequired()"/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }

    @case ('currency') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <input ngsInput
               type="number"
               inputmode="decimal"
               [formControl]="control()"
               [placeholder]="field().placeholder || ''"
               [readonly]="readonly() || field().readonly">
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }

    @case ('currency-select') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <ngs-currency-select [formControl]="control()"
                             [placeholder]="field().placeholder || ''"
                             [required]="isRequired()"/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }

    @case ('country-select') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <ngs-country-select [formControl]="control()"
                            [placeholder]="field().placeholder || ''"
                            [clearable]="field().clearable ?? false"
                            [required]="isRequired()"/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }

    @default {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <input ngsInput
               [type]="textInputType()"
               [formControl]="control()"
               [placeholder]="field().placeholder || ''"
               [readonly]="readonly() || field().readonly">
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
        @if (validationErrorMessage(); as errorMessage) {
          <ngs-error>{{ errorMessage }}</ngs-error>
        }
      </ngs-form-field>
    }
  }
}
