<ng-container #anchor/>

@if (!customLoaded()) {
  @switch (field().type) {
    @case ('textarea') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <textarea ngsInput
                  rows="3"
                  [formControl]="control()"
                  [placeholder]="field().placeholder || ''"
                  [readonly]="readonly() || field().readonly"></textarea>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
      </ngs-form-field>
    }

    @case ('select') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <ngs-select [formControl]="control()"
                    [placeholder]="field().placeholder || ''"
                    [multiple]="field().multiple ?? false"
                    [clearable]="field().clearable ?? false">
          @for (option of field().options ?? []; track option.value) {
            <ngs-option [value]="option.value">{{ option.label }}</ngs-option>
          }
        </ngs-select>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
      </ngs-form-field>
    }

    @case ('radio') {
      <div class="ngs-form-builder-choice-field">
        <span class="ngs-form-builder-choice-label">{{ field().label }}</span>
        <ngs-radio-group [formControl]="control()"
                         [name]="field().name"
                         [orientation]="radioOrientation()">
          @for (option of field().options ?? []; track option.value) {
            <ngs-radio-button [value]="option.value">{{ option.label }}</ngs-radio-button>
          }
        </ngs-radio-group>
        @if (field().hint) {
          <span class="ngs-form-builder-choice-hint">{{ field().hint }}</span>
        }
      </div>
    }

    @case ('checkbox') {
      <div class="ngs-form-builder-check-field">
        <ngs-checkbox [formControl]="control()">
          {{ field().label }}
        </ngs-checkbox>
        @if (field().hint) {
          <span>{{ field().hint }}</span>
        }
      </div>
    }

    @case ('toggle') {
      <div class="ngs-form-builder-check-field">
        <ngs-slide-toggle [formControl]="control()">
          {{ field().label }}
        </ngs-slide-toggle>
        @if (field().hint) {
          <span>{{ field().hint }}</span>
        }
      </div>
    }

    @case ('date') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <input ngsInput
               [ngsDatepicker]="picker"
               [formControl]="control()"
               [placeholder]="field().placeholder || ''"
               [readonly]="readonly() || field().readonly">
        <ngs-datepicker-toggle ngsIconButtonSuffix [for]="picker"/>
        <ngs-datepicker #picker/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
      </ngs-form-field>
    }

    @case ('timezone-select') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <ngs-timezone-select [formControl]="control()"
                             [placeholder]="field().placeholder || ''"
                             [required]="field().required ?? false"/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
      </ngs-form-field>
    }

    @case ('currency') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <input ngsInput
               type="number"
               inputmode="decimal"
               [formControl]="control()"
               [placeholder]="field().placeholder || ''"
               [readonly]="readonly() || field().readonly">
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
      </ngs-form-field>
    }

    @case ('currency-select') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <ngs-currency-select [formControl]="control()"
                             [placeholder]="field().placeholder || ''"
                             [required]="field().required ?? false"/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
      </ngs-form-field>
    }

    @case ('country-select') {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <ngs-country-select [formControl]="control()"
                            [placeholder]="field().placeholder || ''"
                            [clearable]="field().clearable ?? false"
                            [required]="field().required ?? false"/>
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
      </ngs-form-field>
    }

    @default {
      <ngs-form-field>
        <ngs-label>{{ field().label }}</ngs-label>
        <input ngsInput
               [type]="textInputType()"
               [formControl]="control()"
               [placeholder]="field().placeholder || ''"
               [readonly]="readonly() || field().readonly">
        @if (field().hint) {
          <ngs-hint>{{ field().hint }}</ngs-hint>
        }
      </ngs-form-field>
    }
  }
}
