@reference 'tailwindcss';

:host {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  .ngs-button-toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--ngs-button-toggle-button-padding);
    cursor: pointer;
    font-size: var(--ngs-button-toggle-button-font-size);
    line-height: 1.25rem;
    font-weight: var(--ngs-button-toggle-button-font-weight);
    border: none;
    background: none;
    color: var(--ngs-button-toggle-text-color);
    width: 100%;
    height: 100%;
    outline: none;

    &:hover:not(:disabled) {
      background: var(--ngs-button-toggle-hover-bg-color);
    }

    &:disabled {
      cursor: not-allowed;
      color: color-mix(in srgb, var(--ngs-color-on-surface), transparent 62%);
      background: transparent;

      .ngs-button-toggle-selection-indicator {
        color: color-mix(in srgb, var(--ngs-color-on-surface), transparent 62%);
      }
    }

    .ngs-button-toggle-selection-indicator {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: var(--ngs-button-toggle-selection-indicator-color);
      margin-right: 8px;
      animation: ngs-button-toggle-indicator-fade-in 200ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  &.only-icon {
    padding: var(--ngs-button-toggle-button-only-icon-padding);
  }

  &:has(.ngs-button-toggle-label-content:has(ngs-icon)) {
    padding: 0 12px;
  }

  &.ngs-button-toggle-checked {
    .ngs-button-toggle-button {
      background: var(--ngs-button-toggle-checked-bg-color);
      color: var(--ngs-button-toggle-checked-text-color);

      &:disabled {
        background: color-mix(in srgb, var(--ngs-color-on-surface), transparent 88%);
        color: color-mix(in srgb, var(--ngs-color-on-surface), transparent 62%);
      }
    }
  }

  .ngs-button-toggle-label-content {
    line-height: 0;
  }
}

:host-context(ngs-button-toggle-group.only-icon) {
  .ngs-button-toggle-button {
    padding: var(--ngs-button-toggle-button-only-icon-padding);

    ::ng-deep {
      ngs-icon {
      }
    }
  }
}

