@reference 'tailwindcss';

.gauge-widget {
  display: grid;
  height: 100%;
  place-items: center;
  grid-template-rows: 1fr auto;
  gap: --spacing(3);

  app-brand-alignment-chart {
    align-self: end;
  }

  .legend-row {
    display: flex;
    align-items: center;
    gap: --spacing(2);
  }
}
