<ngs-panel class="pdf-viewer-panel">
  @if (showToolbar()) {
    <ngs-panel-header flex>
      <div class="pdf-viewer-toolbar" aria-label="PDF viewer controls">
        @if (showPageList()) {
          <button
            ngsIconButton
            type="button"
            [attr.aria-label]="pageListVisible() ? 'Hide pages panel' : 'Show pages panel'"
            [attr.aria-pressed]="pageListVisible()"
            (click)="togglePageList()">
            <ngs-icon
              [name]="pageListVisible() ? 'fluent:panel-left-contract-24-regular' : 'fluent:panel-left-expand-24-regular'" />
          </button>
        }
        <button ngsIconButton type="button" aria-label="Previous page" [disabled]="!canGoPrevious()" (click)="previousPage()">
          <ngs-icon name="fluent:chevron-up-24-regular" />
        </button>
        <span class="pdf-viewer-toolbar__page">{{ activePage() }} / {{ pageCount() || 1 }}</span>
        <button ngsIconButton type="button" aria-label="Next page" [disabled]="!canGoNext()" (click)="nextPage()">
          <ngs-icon name="fluent:chevron-down-24-regular" />
        </button>
        <span class="pdf-viewer-toolbar__spacer"></span>
        <button ngsIconButton type="button" aria-label="Zoom out" [disabled]="!canZoomOut()" (click)="zoomOut()">
          <ngs-icon name="fluent:zoom-out-24-regular" />
        </button>
        <span class="pdf-viewer-toolbar__zoom">{{ zoomLabel() }}</span>
        <button ngsIconButton type="button" aria-label="Zoom in" [disabled]="!canZoomIn()" (click)="zoomIn()">
          <ngs-icon name="fluent:zoom-in-24-regular" />
        </button>
        <button ngsIconButton type="button" aria-label="PDF viewer settings" [ngsMenuTriggerFor]="settingsMenu">
          <ngs-icon name="fluent:settings-24-regular" />
        </button>
      </div>

      <ngs-menu #settingsMenu="ngsMenu" xPosition="before">
        <ngs-menu-heading>SPREAD MODE</ngs-menu-heading>
        <button
          ngs-menu-item
          type="button"
          [selected]="spreadMode() === 'single'"
          (click)="setSpreadMode('single')">
          <ngs-icon name="fluent:document-24-regular" />
          <span>Single Page</span>
        </button>
        <button
          ngs-menu-item
          type="button"
          [selected]="spreadMode() === 'two-odd'"
          (click)="setSpreadMode('two-odd')">
          <ngs-icon name="fluent:book-open-24-regular" />
          <span>Two Page (Odd)</span>
        </button>
        <button
          ngs-menu-item
          type="button"
          [selected]="spreadMode() === 'two-even'"
          (click)="setSpreadMode('two-even')">
          <ngs-icon name="fluent:document-text-24-regular" />
          <span>Two Page (Even)</span>
        </button>

        <ngs-menu-divider />
        <ngs-menu-heading>SCROLL LAYOUT</ngs-menu-heading>
        <button
          ngs-menu-item
          type="button"
          [selected]="scrollLayout() === 'vertical'"
          (click)="setScrollLayout('vertical')">
          <ngs-icon name="fluent:arrow-sort-24-regular" />
          <span>Vertical</span>
        </button>
        <button
          ngs-menu-item
          type="button"
          [selected]="scrollLayout() === 'horizontal'"
          (click)="setScrollLayout('horizontal')">
          <ngs-icon name="fluent:arrow-swap-24-regular" />
          <span>Horizontal</span>
        </button>

        <ngs-menu-divider />
        <ngs-menu-heading>PAGE ROTATION</ngs-menu-heading>
        <button ngs-menu-item type="button" (click)="rotateClockwise()">
          <ngs-icon name="fluent:arrow-clockwise-24-regular" />
          <span>Rotate Clockwise</span>
        </button>
        <button ngs-menu-item type="button" (click)="rotateCounterClockwise()">
          <ngs-icon name="fluent:arrow-counterclockwise-24-regular" />
          <span>Rotate Counter-Clockwise</span>
        </button>

        <ngs-menu-divider />
        <button ngs-menu-item type="button" (click)="toggleFullscreen()">
          <ngs-icon name="fluent:arrow-maximize-24-regular" />
          <span>Fullscreen</span>
        </button>
      </ngs-menu>
    </ngs-panel-header>
  }

  @if (isPageListVisible()) {
    <ngs-panel-sidebar>
      <div class="pdf-viewer-sidebar" #pageList>
        <div class="pdf-viewer-sidebar__title">Pages</div>
        <div class="pdf-viewer-sidebar__pages" aria-label="PDF pages">
          @for (pageItem of pageItems(); track pageItem.pageNumber) {
            <button
              class="pdf-viewer-sidebar__page"
              type="button"
              [class.is-active]="pageItem.pageNumber === activePage()"
              [attr.aria-current]="pageItem.pageNumber === activePage() ? 'page' : null"
              [attr.aria-label]="'Open page ' + pageItem.pageNumber"
              [attr.data-ngs-pdf-page-button]="pageItem.pageNumber"
              (click)="setPage(pageItem.pageNumber)">
              <span class="pdf-viewer-sidebar__thumb" aria-hidden="true">
                @if (pageItem.thumbnail; as thumbnail) {
                  <img
                    [src]="thumbnail.url"
                    [attr.width]="thumbnail.width"
                    [attr.height]="thumbnail.height"
                    alt=""
                    draggable="false" />
                } @else {
                  <ngs-image-placeholder />
                }
              </span>
              <span class="pdf-viewer-sidebar__label">Page {{ pageItem.pageNumber }}</span>
            </button>
          }
        </div>
      </div>
    </ngs-panel-sidebar>
  }

  <ngs-panel-content>
    <div class="pdf-viewer-body" #viewerBody (scroll)="onViewerScroll()">
      <ngs-block-loader [loading]="isLoading()">Loading PDF...</ngs-block-loader>
      @if (errorState()) {
        <div class="pdf-viewer-state pdf-viewer-state--error">
          <ngs-icon name="fluent:error-circle-24-regular" />
          <span>PDF could not be loaded.</span>
        </div>
      } @else if (!src()) {
        <div class="pdf-viewer-state">
          <ngs-icon name="fluent:document-pdf-24-regular" />
          <span>No PDF selected.</span>
        </div>
      } @else {
        <div class="pdf-viewer-pages">
          @for (pdfPage of renderedPages(); track pdfPage.pageNumber) {
            <article
              class="pdf-viewer-page"
              [attr.aria-label]="'PDF page ' + pdfPage.pageNumber"
              [attr.data-ngs-pdf-page]="pdfPage.pageNumber">
              <div
                class="pdf-viewer-page__surface"
                [style.width.px]="pdfPage.width"
                [style.height.px]="pdfPage.height"
                (pointerdown)="startTextSelection($event, pdfPage)"
                (pointermove)="updateTextSelection($event, pdfPage)"
                (pointerup)="finishTextSelection($event, pdfPage)"
                (pointercancel)="cancelTextSelection()"
                (mousedown)="startTextSelection($event, pdfPage)"
                (mousemove)="updateTextSelection($event, pdfPage)"
                (mouseup)="finishTextSelection($event, pdfPage)">
                @if (isPageImageFresh(pdfPage) && pdfPage.url; as pageUrl) {
                  <img
                    [src]="pageUrl"
                    [alt]="'PDF page ' + pdfPage.pageNumber"
                    [attr.width]="pdfPage.width"
                    [attr.height]="pdfPage.height"
                    draggable="false" />
                } @else {
                  <div class="pdf-viewer-page__placeholder" aria-hidden="true">
                    @if (pdfPage.isRendering) {
                      <span></span>
                    }
                  </div>
                }
                @if (selectionRectsForPage(pdfPage.pageNumber); as selectionRects) {
                  @if (selectionRects.length > 0) {
                    <div class="pdf-viewer-page__selection-layer" aria-hidden="true">
                      @for (selectionRect of selectionRects; track selectionRect.left + '-' + selectionRect.top + '-' + $index) {
                        <div
                          class="pdf-viewer-page__selection-rect"
                          [style.left.px]="selectionRect.left"
                          [style.top.px]="selectionRect.top"
                          [style.width.px]="selectionRect.width"
                          [style.height.px]="selectionRect.height"></div>
                      }
                    </div>
                  }
                }
              </div>
            </article>
          }
        </div>
      }
    </div>
  </ngs-panel-content>
</ngs-panel>
