:host {
  --ngs-pdf-viewer-height: 720px;
  --ngs-pdf-viewer-min-height: 720px;
  --ngs-pdf-viewer-sidebar-width: 152px;
  --ngs-pdf-viewer-aside-width: 360px;

  display: block;
  height: var(--ngs-pdf-viewer-height);
  min-height: var(--ngs-pdf-viewer-min-height);
  overflow: hidden;

  .pdf-viewer-page {
    &__selection-layer {
      forced-color-adjust: none;
    }
  }
}
