<div class="ngs-grid-container">
  <ng-container *ngTemplateOutlet="itemsTpl; context: { $implicit: items() }"/>
</div>

<ng-template #itemsTpl let-items>
  @for (item of items; track $index) {
    <div class="ngs-grid-item"
         [style.--ngs-grid-item-colspan]="item.columns || 12"
         [style.--ngs-grid-item-colspan-sm]="item.columnsSm ?? item.columns ?? 12"
         [style.--ngs-grid-item-colspan-md]="item.columnsMd ?? item.columnsSm ?? item.columns ?? 12"
         [style.--ngs-grid-item-colspan-lg]="item.columnsLg ?? item.columnsMd ?? item.columnsSm ?? item.columns ?? 12"
         [style.--ngs-grid-item-colspan-xl]="item.columnsXl ?? item.columnsLg ?? item.columnsMd ?? item.columnsSm ?? item.columns ?? 12">
      @if (item.children?.length > 0) {
        <div class="ngs-grid-container">
          <ng-container *ngTemplateOutlet="itemsTpl; context: { $implicit: item.children }"/>
        </div>
      } @else {
        <div class="ngs-grid-item-content"
             [style.--ngs-grid-item-height]="item.height"
             [style.--ngs-grid-item-height-sm]="item.heightSm ?? item.height ?? '100%'"
             [style.--ngs-grid-item-height-md]="item.heightMd ?? item.heightSm ?? item.height ?? '100%'"
             [style.--ngs-grid-item-height-lg]="item.heightLg ?? item.heightMd ?? item.heightSm ?? item.height ?? '100%'"
             [style.--ngs-grid-item-height-xl]="item.heightXl ?? item.heightLg ?? item.heightMd ?? item.heightSm ?? item.height ?? '100%'"
             [class.plain]="getItemConfig(item.type).plain || plain()"
             [class.hidden]="!_allLoaded()">
          <ng-container [ngComponentOutlet]="getItemComponent(item.type) | async"
                        [ngComponentOutletInputs]="getItemInputs(item)"/>
        </div>

        @if (!_allLoaded()) {
          <div class="ngs-grid-item-content skeleton"
               [style.--ngs-grid-item-skeleton-min-height]="item.skeletonHeight || item.height">
            @let skeletonComponent = getSkeletonComponent(item.type);

            @if (skeletonComponent) {
              <ng-container [ngComponentOutlet]="skeletonComponent"/>
            } @else {
            }
          </div>
        }
      }
    </div>
  }
</ng-template>
