@reference 'tailwindcss';

:host {
  display: inline-flex;
  align-items: center;
  padding: 0 --spacing(3);
  height: 100%;
  cursor: pointer;
  color: var(--ngs-color-on-surface-variant);
  transition: color 0.2s;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: var(--ngs-color-primary);
    text-decoration: underline;
  }

  &.ngs-toolbar-nav-link-active {
    color: var(--ngs-color-primary);
    font-weight: 500;
  }
}

:host-context(.ngs-toolbar-overflow-dialog-content) {
  width: 100%;
  height: auto;
  padding: --spacing(2) 0;
}
