@reference 'tailwindcss';
@reference '../../../styles/_common.scss';

:host {
  --ngs-sidebar-nav-bg: inherit;
  --ngs-sidebar-nav-items-gap: var(--ngs-nav-items-gap);
  --ngs-sidebar-nav-item-width: var(--ngs-nav-item-width);
  --ngs-sidebar-nav-item-bg: transparent;
  --ngs-sidebar-nav-item-height: var(--ngs-nav-item-height);
  --ngs-sidebar-nav-item-padding: var(--ngs-nav-item-padding);
  --ngs-sidebar-nav-item-font-size: var(--ngs-nav-item-font-size);
  --ngs-sidebar-nav-item-radius: var(--ngs-nav-item-radius);
  --ngs-sidebar-nav-item-border-width: var(--ngs-nav-item-border-width);
  --ngs-sidebar-nav-item-border-color: var(--ngs-nav-item-border-color);
  --ngs-sidebar-nav-item-font-weight: var(--ngs-nav-item-font-weight);
  --ngs-sidebar-nav-item-color: var(--ngs-nav-item-color);
  --ngs-sidebar-nav-item-hover-bg: var(--ngs-nav-item-hover-bg);
  --ngs-sidebar-nav-item-hover-color: var(--ngs-nav-item-hover-color);
  --ngs-sidebar-nav-item-active-bg: var(--ngs-nav-item-active-bg);
  --ngs-sidebar-nav-item-active-color: var(--ngs-nav-item-active-color);
  --ngs-sidebar-nav-item-icon-font-size: var(--ngs-nav-item-icon-font-size);
  --ngs-sidebar-nav-item-icon-color: var(--ngs-nav-item-icon-color);
  --ngs-sidebar-nav-group-arrow-color: var(--ngs-nav-item-icon-color);
  --ngs-sidebar-nav-item-icon-width: var(--ngs-nav-item-icon-width);
  --ngs-sidebar-nav-item-hover-icon-color: var(--ngs-nav-item-hover-icon-color);
  --ngs-sidebar-nav-item-active-icon-color: var(--ngs-nav-item-active-icon-color);
  --ngs-sidebar-nav-item-icon-size: var(--ngs-nav-item-icon-size);
  --ngs-sidebar-nav-item-gap: var(--ngs-nav-item-gap);
  --ngs-sidebar-nav-item-has-icon-padding-start: var(--ngs-nav-item-gap);
  --ngs-sidebar-nav-heading-color: var(--ngs-color-emphasis);
  --ngs-sidebar-nav-heading-font-size: var(--ngs-font-size-xs);
  --ngs-sidebar-nav-heading-font-weight: var(--ngs-nav-heading-font-weight);
  --ngs-sidebar-nav-heading-padding: var(--ngs-nav-heading-padding);
  --ngs-sidebar-nav-heading-margin-top: var(--ngs-nav-heading-margin-top);
  --ngs-sidebar-nav-heading-margin-bottom: var(--ngs-nav-heading-margin-bottom);
  --ngs-sidebar-nav-heading-after-margin: var(--ngs-nav-heading-after-margin);
  --ngs-sidebar-nav-heading-text-transform: var(--ngs-nav-heading-text-transform);
  --ngs-sidebar-nav-divider-height: var(--ngs-nav-divider-height);
  --ngs-sidebar-nav-divider-bg: var(--ngs-color-outline-variant);
  --ngs-sidebar-nav-divider-margin: var(--ngs-nav-divider-margin);
  --ngs-sidebar-nav-group-toggle-has-icon-padding-end: var(--ngs-nav-group-toggle-padding-end);
  --ngs-sidebar-nav-group-toggle-icon-color: var(--ngs-color-on-surface-variant);
  --ngs-sidebar-nav-group-toggle-icon-position-end: var(--ngs-nav-group-toggle-icon-position-end);
  --ngs-sidebar-nav-group-toggle-icon-size: var(--ngs-nav-group-toggle-icon-size);
  --ngs-sidebar-nav-group-menu-padding-start: 0;
  --ngs-sidebar-nav-group-toggle-bg: transparent;
  --ngs-sidebar-nav-group-toggle-active-bg: var(--ngs-nav-item-active-bg);
  --ngs-sidebar-nav-group-toggle-active-color: var(--ngs-nav-item-active-color);
  --ngs-sidebar-nav-group-toggle-hover-icon-color: var(--ngs-nav-item-hover-icon-color);
  --ngs-sidebar-nav-group-toggle-active-icon-color: var(--ngs-nav-item-active-icon-color);
  --ngs-sidebar-nav-nested-item-bg: transparent;
  --ngs-sidebar-nav-nested-item-height: var(--ngs-nav-nested-item-height);
  --ngs-sidebar-nav-nested-item-padding: var(--ngs-nav-nested-item-padding);
  --ngs-sidebar-nav-nested-item-margin: var(--ngs-nav-nested-item-margin);
  --ngs-sidebar-nav-nested-item-border-radius: var(--ngs-nav-nested-item-border-radius);
  --ngs-sidebar-nav-nested-item-color: var(--ngs-nav-item-color);
  --ngs-sidebar-nav-nested-item-hover-bg: var(--ngs-nav-item-hover-bg);
  --ngs-sidebar-nav-nested-item-active-bg: var(--ngs-nav-item-active-bg);
  --ngs-sidebar-nav-nested-item-hover-color: var(--ngs-nav-item-hover-color);
  --ngs-sidebar-nav-nested-item-active-color: var(--ngs-nav-item-active-color);
  --ngs-sidebar-nav-nested-item-indicator-width: var(--ngs-nav-nested-item-indicator-width);
  --ngs-sidebar-nav-nested-item-indicator-height: var(--ngs-nav-nested-item-indicator-height);
  --ngs-sidebar-nav-nested-item-indicator-bg: var(--ngs-color-outline);
  --ngs-sidebar-nav-nested-item-indicator-position-start: var(--ngs-nav-nested-item-indicator-position-start);
  --ngs-sidebar-nav-group-active-bg: transparent;
  --ngs-sidebar-nav-group-border-radius: 0;
  --ngs-sidebar-nav-group-tree-lines-color: var(--ngs-color-subtle);
  --ngs-sidebar-nav-heading-text-align: var(--ngs-nav-heading-text-align);

  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--ngs-sidebar-nav-items-gap);
  background: var(--ngs-sidebar-nav-bg);
}
