@reference 'tailwindcss';

:host {
  --ngs-pin-input-width: --spacing(14);
  --ngs-pin-gap: --spacing(4);
  --ngs-form-field-input-text-align: center;
  --ngs-form-field-width: var(--ngs-pin-input-width);

  display: block;
  width: max-content;

  .inputs {
    display: flex;
    align-items: center;
    gap: var(--ngs-pin-gap);
  }

  .input {
    flex: none;
  }
}
