@reference 'tailwindcss';

:host {
  display: block;
  background: var(--color-neutral-200);
  padding: --spacing(1.5) --spacing(2);
  font-weight: 500;
}

:host-context(html.dark) {
  background: var(--color-neutral-300);
  color: var(--color-neutral-900);
}
