@reference 'tailwindcss';

:host {
  --ngs-number-input-gap: --spacing(2);
  --ngs-number-input-control-bg: none;
  --ngs-number-input-control-color: var(--ngs-color-neutral-500);
  --ngs-number-input-control-hover-color: var(--ngs-color-neutral-600);
  --ngs-number-input-control-active-color: var(--ngs-color-neutral-700);
  --ngs-number-input-control-hover-bg: var(--ngs-color-surface-container);
  --ngs-number-input-control-active-bg: var(--ngs-color-surface-container-high);
  --ngs-number-input-control-font-size: 1.5rem;
  --ngs-number-input-control-border-radius: var(--ngs-radius-md);
  --ngs-number-input-suffix-gap: --spacing(3);
  --ngs-number-input-control-size: --spacing(7);
  --ngs-number-input-control-border: none;
  --ngs-number-input-controls-wdith: --spacing(16);

  display: flex !important;
  gap: var(--ngs-number-input-gap);
  padding-right: var(--ngs-number-input-controls-wdith);

  .number-input {
    width: auto;
    max-width: none;
    flex-grow: 1;
    min-width: 0;
    background: none;
    outline: none;
    color: currentColor;
    font: inherit;
    border: none;
  }

  .number-input::-webkit-outer-spin-button,
  .number-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .controls {
    gap: 0.375rem;
    user-select: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .control {
    cursor: pointer;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--ngs-number-input-control-size);
    height: var(--ngs-number-input-control-size);
    background: var(--ngs-number-input-control-bg);
    color: var(--ngs-number-input-control-color);
    font-size: var(--ngs-number-input-control-font-size);
    line-height: var(--ngs-number-input-control-font-size);
    border-radius: var(--ngs-number-input-control-border-radius);
    position: relative;
    border: var(--ngs-number-input-control-border);
    top: 1px;

    .control-icon {
      width: 22px;
      height: 22px;
      fill: none;
      stroke: currentColor;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    ::ng-deep {
      ngs-icon {
        --ngs-icon-size: --spacing(5);
      }
    }

    &:hover {
      background: var(--ngs-number-input-control-hover-bg);
      color: var(--ngs-number-input-control-hover-color);
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.65;
    }
  }
}

:host-context(html.dark) {
  --ngs-number-input-control-color: var(--ngs-color-neutral-300);
  --ngs-number-input-control-hover-color: var(--ngs-color-neutral-200);
  --ngs-number-input-control-hover-bg: var(--ngs-color-neutral-500);
}
